@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

a {
    height: max-content;
    color: rgb(18, 17, 17);
    margin: 1rem;
}


a::after {
    opacity: 0;
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

a:hover::after {
    opacity: 100;
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    background: url(images/back.jpg);
    background-position: center center;
    background-size: cover;

}

h1 {
    background: white;
    font-size: 72px;
    background: -webkit-linear-gradient(360deg, rgb(252, 80, 80), rgb(248, 218, 48));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
}

.gra {
    background: linear-gradient(#ff7979, #ffbe76, #7ed6df);
}

.form-container {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 50px 20px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-flow: column;
}

input {
    border: none;
    outline: none;
    border-radius: 30px;
    width: 200px;
    background: black;
    color: white;
    padding: 8px;
    padding-left: 10px;
}

.field {
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.but {
    display: flex;
    justify-content: center;
}

button {
    color: white;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 0;
    border: 10px;
    background: #4a69bd;
    width: 200px;
}

button:hover {
    background: yellowgreen;
    transition: 0.5s;
}

label {
    padding-right: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}