@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=ZCOOL+KuaiLe&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-position: center;
}
.container {
    width: 100vw;
    height: 100vh;
}
.navbar {
    background: #12181d;
    box-shadow: 0 6px 8px black;
    text-align: center;
}
.navbar ul {
    display: inline-flex;
    list-style: none;
    color: #d2dae2;

}
.navbar ul li {
   width: 120px;
   margin: 15px;
   padding: 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: #d2dae2;
}
.navbar ul li i {
    font-size: 15px;
    padding: 7px 10px;
}
.navbar ul li a:hover {
    color: #1B9CFC;
}
.submenu {
    display: none;
}
.navbar ul li:hover .submenu {
    display: block;
    position: absolute;
    background: #12181d;
    margin-top: 10px;
    margin-left: -15px;
} 
.navbar ul li:hover .submenu ul {
    display: block;
    margin: 10px;
}
.navbar ul li:hover .submenu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #d2dae2;
    border-radius: 0;
    text-align: left;
}
.navbar ul li:hover .submenu ul li:last-child {
    border: none;
}